In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [ ]:
shape = df.shape
print(f"{shape[0]} rows, {shape[1]} columns")

60943 rows, 12 columns

In [ ]:
unique_countries = df['Area'].nunique()
print(unique_countries)
print(f'the number of unique countries in the dataset is {unique_countries}')

49
the number of unique countries in the dataset is 49

In [ ]:
df_2014 = df[df['Y2014'].notnull()]
missing_2014 = df['Y2014'].isnull().sum()
total_2014 = len(df['Y2014'])
percentage_missing_2014 = (missing_2014 / total_2014) * 100

print(missing_2014)
print(f"{percentage_missing_2014:.3f}%")

1589
2.607%

In [ ]:
mean_2017 = df['Y2017'].mean()
standarddev_2017 = df['Y2017'].std()

print(f"{mean_2017:.2f}")
print(f"{standarddev_2017:.2f}")

140.92
1671.86

In [ ]:
df_subset = df[['Y2017', 'Area']]
area_sums = df_subset.groupby('Area')['Y2017'].sum()
sorted_area_sums = area_sums.sort_values()
seventh_l_a = sorted_area_sums.index[6]

print(seventh_l_a)

Guinea-Bissau

In [ ]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [7]:
years = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
correlations = {}
for year in years:
    correlations[year] = df[year].corr(df['Element Code'])
min_correlation_year = min(correlations, key=correlations.get)

print(f"{min_correlation_year}")

Y2016

In [9]:
element_sums = df.groupby('Element')['Y2017'].sum()
processing_sum_2017 = element_sums.get('Processing', 0)
print(f"{processing_sum_2017}")

292836.0

In [10]:
df_subset = df[['Y2017', 'Area']]
area_sums = df_subset.groupby('Area')['Y2017'].sum()
area_with_highest_sum = area_sums.idxmax()
print(f"{area_with_highest_sum}")

Nigeria

In [11]:
item_sums = df.groupby('Item')[['Y2015', 'Y2018']].sum()
wine_sums = item_sums.loc['Wine']

print(f"2015: {wine_sums['Y2015']}")
print(f"2018: {wine_sums['Y2018']}")

2015: 4251.81
2018: 4039.32

In [12]:
stock_variation_by_element = df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
max_stock_variation_year = stock_variation_by_element.loc['Stock Variation'].idxmax()
print(f"{max_stock_variation_year}")

Y2014

In [15]:
madagascar_df = df[df['Area'] == 'Madagascar']
protein_df = madagascar_df[madagascar_df['Element'] == 'Protein supply quantity (g/capita/day)']
protein_2015 = protein_df['Y2015']
madagascar_protein_2015 = protein_2015.sum()
print(f"{madagascar_protein_2015:.2f}")

173.05